@page "/about"
@layout ERPClinic.Components.Layout.MainLayoutEN


<div class="w3-container">

    <h3>About</h3>

    <div class="col-md-5 col-sm-12 mb-4" style="background-color: rgba(0, 0, 0, 0.1); padding: 15px; border-radius: 8px; width: 50%; margin-left: 30px; margin-top:50px;">
        <p>
           App developed by Lucas Rettore, Software Engineer.
        </p>
    </div>


</div>

@code {

}
